
body{
  font-family: "Montserrat";
}



#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 0% 10%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: "bold";
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}
.ts{
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
}

.db{
  margin: 5% 3% 2% 0;
}
#features{
  padding: 8% 16%;
}
.fb{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "Montserrat-dark";
  font-weight: "bolder";
}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1.5rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
    padding: 8% 16%;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;

}
.ti{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 2.5%;
}
.pi{
  width: 15%;
  margin: 20px 20px 50px;
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
.ph{
  text-align: center;
}
#pricing{
  padding: 100px;
  font-family: "Montserrat-bold";
}
.pc{
  padding: 3% 2%;
}

@media (max-width:1028px) {

  #title{
    text-align: center;
  }
  .ts{
    position: static;
    transform: rotate(0deg);
  }

}
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 10%;
  text-align: center;
}
.ctah3{
  font-family: Montserrat-Black;
  font-size: 3rem;
  line-height: 1.5rem;
}
#footer{
  padding: 5% 10%;
  text-align: center;
}
.fi{
  margin: 20px 10px;


}
